<video
  class="hero__asset hero-video"
  preload="auto"
  playsinline=""
  data-autoplay-desktop="true"
  data-autoplay-portrait="true"
  data-autoplay-mobile="true"
  muted=""
  loop=""
  data-poster-portrait="https://tesla-cdn.thron.com/delivery/public/image/tesla/c7359a76-05c0-4b00-a5ac-3ad005acdc5f/bvlatuR/std/0x0/Range_Desktop-poster"
  data-poster-mobile="https://tesla-cdn.thron.com/delivery/public/image/tesla/e8e3ccf9-5a2a-448f-a17f-e045ba1a74d8/bvlatuR/std/0x0/Range_Mobile-poster"
  data-src-desktop="https://tesla-cdn.thron.com/delivery/public/video/tesla/c63301a9-96bc-463d-9e5d-65f581cd87d6/bvlatuR/WEBHD/Range_Desktop"
  data-src-mobile="https://tesla-cdn.thron.com/delivery/public/video/tesla/80d6b6b8-22ae-4efc-9a5f-0f14f8aae6d6/bvlatuR/WEBHD/Range_Mobile"
  data-src-portrait="https://tesla-cdn.thron.com/delivery/public/video/tesla/c63301a9-96bc-463d-9e5d-65f581cd87d6/bvlatuR/WEBHD/Range_Desktop"
  data-object-fit="true"
  src="https://tesla-cdn.thron.com/delivery/public/video/tesla/80d6b6b8-22ae-4efc-9a5f-0f14f8aae6d6/bvlatuR/WEBHD/Range_Mobile"
  data-loaded="true"
  poster="https://tesla-cdn.thron.com/delivery/public/image/tesla/e8e3ccf9-5a2a-448f-a17f-e045ba1a74d8/bvlatuR/std/0x0/Range_Mobile-poster"
  autoplay=""
></video>
